In [258]:
import numpy as np
import pandas as pd

In [259]:
!ls ../input/atmacup8

atmaCup8_sample-submission.csv	test.csv  train.csv

In [260]:
train = pd.read_csv("../input/atmacup8/train.csv")
test = pd.read_csv("../input/atmacup8/test.csv")
sample_submission = pd.read_csv("../input/atmacup8/atmaCup8_sample-submission.csv")

In [261]:
sample_submission.head()

   Global_Sales
0     63.371815
1     63.371815
2     63.371815
3     63.371815
4     63.371815

In [262]:
len(sample_submission)

8360

In [263]:
data = pd.concat([train, test], sort=False)

In [264]:
print(len(train), len(test), len(data))

8359 8360 16719

In [265]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16719 entries, 0 to 8359
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         8359 non-null   float64
 6   EU_Sales         8359 non-null   float64
 7   JP_Sales         8359 non-null   float64
 8   Other_Sales      8359 non-null   float64
 9   Global_Sales     8359 non-null   float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.2+ MB

In [266]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8359 entries, 0 to 8358
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             8359 non-null   object
 1   Platform         8359 non-null   object
 2   Year_of_Release  8275 non-null   float64
 3   Genre            8359 non-null   object
 4   Publisher        8359 non-null   object
 5   NA_Sales         8359 non-null   int64
 6   EU_Sales         8359 non-null   int64
 7   JP_Sales         8359 non-null   int64
 8   Other_Sales      8359 non-null   int64
 9   Global_Sales     8359 non-null   int64
 10  Critic_Score     3976 non-null   float64
 11  Critic_Count     3976 non-null   float64
 12  User_Score       4831 non-null   object
 13  User_Count       3699 non-null   float64
 14  Developer        4870 non-null   object
 15  Rating           4798 non-null   object
dtypes: float64(4), int64(5), object(7)
memory usage: 1.0+ MB

In [267]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8360 entries, 0 to 8359
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             8358 non-null   object
 1   Platform         8360 non-null   object
 2   Year_of_Release  8175 non-null   float64
 3   Genre            8358 non-null   object
 4   Publisher        8306 non-null   object
 5   Critic_Score     4161 non-null   float64
 6   Critic_Count     4161 non-null   float64
 7   User_Score       5184 non-null   object
 8   User_Count       3891 non-null   float64
 9   Developer        5226 non-null   object
 10  Rating           5152 non-null   object
dtypes: float64(4), object(7)
memory usage: 718.6+ KB

In [268]:
train.isnull().sum()

Name                  0
Platform              0
Year_of_Release      84
Genre                 0
Publisher             0
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       4383
Critic_Count       4383
User_Score         3528
User_Count         4660
Developer          3489
Rating             3561
dtype: int64

In [269]:
test.isnull().sum()

Name                  2
Platform              0
Year_of_Release     185
Genre                 2
Publisher            54
Critic_Score       4199
Critic_Count       4199
User_Score         3176
User_Count         4469
Developer          3134
Rating             3208
dtype: int64

In [270]:
data.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

In [271]:
train.head().T

,0,1,2,3,4
Name,LEGO Batman: The Videogame,LEGO Indiana Jones: The Original Adventures,LEGO Batman: The Videogame,Combat,LEGO Harry Potter: Years 5-7
Platform,Wii,Wii,PSP,2600,Wii
Year_of_Release,NaN,NaN,NaN,NaN,NaN
Genre,Action,Action,Action,Action,Action
Publisher,Warner Bros. Interactive Entertainment,LucasArts,Warner Bros. Interactive Entertainment,Atari,Warner Bros. Interactive Entertainment
NA_Sales,180,151,56,117,69
EU_Sales,97,61,44,7,42
JP_Sales,0,0,0,0,0
Other_Sales,28,21,27,1,12
Global_Sales,306,234,128,125,124
Critic_Score,74,78,73,NaN,76
Critic_Count,17,22,5,NaN,8
User_Score,7.9,6.6,7.4,NaN,7.8
User_Count,22,28,10,NaN,13
Developer,Traveller's Tales,Traveller's Tales,Traveller's Tales,NaN,Traveller's Tales
Rating,E10+,E10+,E10+,NaN,E10+

In [272]:
test.head().T

,0,1,2,3,4
Name,Hitman 2: Silent Assassin,Legacy of Kain: Soul Reaver,Metal Gear Solid 2: Substance,Silent Hill: Homecoming,Silent Hill: Homecoming
Platform,XB,PS,XB,X360,PS3
Year_of_Release,NaN,NaN,NaN,NaN,NaN
Genre,Action,Action,Action,Action,Action
Publisher,Eidos Interactive,Eidos Interactive,Konami Digital Entertainment,Konami Digital Entertainment,Konami Digital Entertainment
Critic_Score,84,91,87,70,71
Critic_Count,23,17,28,54,41
User_Score,8,9,8.5,6.9,6.9
User_Count,19,132,39,180,143
Developer,Io Interactive,Crystal Dynamics,KCEJ,Double Helix Games,Double Helix Games
Rating,M,T,M,M,M

In [273]:
import os
from pandas_profiling import ProfileReport # profile report を作る用
from matplotlib_venn import venn2 # venn図を作成する用
OUTPUT_DIR = './'

In [274]:
#report = ProfileReport(train)
#report.to_file(os.path.join(OUTPUT_DIR, 'train_report.html'))

#report = ProfileReport(test)
#report.to_file(os.path.join(OUTPUT_DIR, 'test_report.html'))

In [275]:
train = pd.read_csv("../input/atmacup8/train.csv")
train.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,180,97,0,28,306,74.0,17.0,7.9,22.0,Traveller's Tales,E10+
1,LEGO Indiana Jones: The Original Adventures,Wii,NaN,Action,LucasArts,151,61,0,21,234,78.0,22.0,6.6,28.0,Traveller's Tales,E10+
2,LEGO Batman: The Videogame,PSP,NaN,Action,Warner Bros. Interactive Entertainment,56,44,0,27,128,73.0,5.0,7.4,10.0,Traveller's Tales,E10+
3,Combat,2600,NaN,Action,Atari,117,7,0,1,125,NaN,NaN,NaN,NaN,NaN,NaN
4,LEGO Harry Potter: Years 5-7,Wii,NaN,Action,Warner Bros. Interactive Entertainment,69,42,0,12,124,76.0,8.0,7.8,13.0,Traveller's Tales,E10+

In [276]:
test.head()

,Name,Platform,Year_of_Release,Genre,Publisher,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Hitman 2: Silent Assassin,XB,NaN,Action,Eidos Interactive,84.0,23.0,8,19.0,Io Interactive,M
1,Legacy of Kain: Soul Reaver,PS,NaN,Action,Eidos Interactive,91.0,17.0,9,132.0,Crystal Dynamics,T
2,Metal Gear Solid 2: Substance,XB,NaN,Action,Konami Digital Entertainment,87.0,28.0,8.5,39.0,KCEJ,M
3,Silent Hill: Homecoming,X360,NaN,Action,Konami Digital Entertainment,70.0,54.0,6.9,180.0,Double Helix Games,M
4,Silent Hill: Homecoming,PS3,NaN,Action,Konami Digital Entertainment,71.0,41.0,6.9,143.0,Double Helix Games,M

In [277]:
train2 = train

In [278]:
delete_columns = ['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']
train2.drop(delete_columns, axis=1, inplace=True)

In [279]:
data2 = data

In [280]:
data2.drop(delete_columns, axis=1, inplace=True)

In [281]:
data2.head

<bound method NDFrame.head of                                              Name Platform  Year_of_Release  \
0                      LEGO Batman: The Videogame      Wii              NaN
1     LEGO Indiana Jones: The Original Adventures      Wii              NaN
2                      LEGO Batman: The Videogame      PSP              NaN
3                                          Combat     2600              NaN
4                    LEGO Harry Potter: Years 5-7      Wii              NaN
...                                           ...      ...              ...
8355               SD Gundam G Generation Genesis      PSV           2016.0
8356               SD Gundam G Generation Genesis      PS4           2016.0
8357                        Battle Worlds: Kronos       PC           2016.0
8358        Codename: Panzers Complete Collection       PC           2016.0
8359                       Imagine: Makeup Artist       DS           2020.0

           Genre                               Publisher  Critic_Score  \
0         Action  Warner Bros. Interactive Entertainment          74.0
1         Action                               LucasArts          78.0
2         Action  Warner Bros. Interactive Entertainment          73.0
3         Action                                   Atari           NaN
4         Action  Warner Bros. Interactive Entertainment          76.0
...          ...                                     ...           ...
8355    Strategy                      Namco Bandai Games           NaN
8356    Strategy                      Namco Bandai Games           NaN
8357    Strategy                            Nordic Games          71.0
8358    Strategy                            Nordic Games           NaN
8359  Simulation                                 Ubisoft           NaN

      Critic_Count User_Score  User_Count          Developer Rating
0             17.0        7.9        22.0  Traveller's Tales   E10+
1             22.0        6.6        28.0  Traveller's Tales   E10+
2              5.0        7.4        10.0  Traveller's Tales   E10+
3              NaN        NaN         NaN                NaN    NaN
4              8.0        7.8        13.0  Traveller's Tales   E10+
...            ...        ...         ...                ...    ...
8355           NaN        NaN         NaN                NaN    NaN
8356           NaN        NaN         NaN                NaN    NaN
8357          15.0        7.1        71.0           KING Art    NaN
8358           NaN        NaN         NaN                NaN    NaN
8359           NaN        tbd         NaN            Ubisoft      E

[16719 rows x 11 columns]>

In [282]:
train2.head()

,Name,Platform,Year_of_Release,Genre,Publisher,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,74.0,17.0,7.9,22.0,Traveller's Tales,E10+
1,LEGO Indiana Jones: The Original Adventures,Wii,NaN,Action,LucasArts,78.0,22.0,6.6,28.0,Traveller's Tales,E10+
2,LEGO Batman: The Videogame,PSP,NaN,Action,Warner Bros. Interactive Entertainment,73.0,5.0,7.4,10.0,Traveller's Tales,E10+
3,Combat,2600,NaN,Action,Atari,NaN,NaN,NaN,NaN,NaN,NaN
4,LEGO Harry Potter: Years 5-7,Wii,NaN,Action,Warner Bros. Interactive Entertainment,76.0,8.0,7.8,13.0,Traveller's Tales,E10+

In [283]:
data2.shape

(16719, 11)

In [284]:
train = pd.read_csv("../input/atmacup8/train.csv")
train['Name']

0                             LEGO Batman: The Videogame
1            LEGO Indiana Jones: The Original Adventures
2                             LEGO Batman: The Videogame
3                                                 Combat
4                           LEGO Harry Potter: Years 5-7
                              ...
8354                                           Stellaris
8355                   Total War Attila: Tyrants & Kings
8356                    Brothers Conflict: Precious Baby
8357    Phantasy Star Online 2 Episode 4: Deluxe Package
8358    Phantasy Star Online 2 Episode 4: Deluxe Package
Name: Name, Length: 8359, dtype: object

In [285]:
train['Global_Sales']

0       306
1       234
2       128
3       125
4       124
       ...
8354      4
8355      1
8356      1
8357      4
8358      1
Name: Global_Sales, Length: 8359, dtype: int64

In [286]:
delete_columns = ['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']
target = train[delete_columns]
target

      NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0          180        97         0           28           306
1          151        61         0           21           234
2           56        44         0           27           128
3          117         7         0            1           125
4           69        42         0           12           124
...        ...       ...       ...          ...           ...
8354         0         4         0            0             4
8355         0         1         0            0             1
8356         0         0         1            0             1
8357         0         0         4            0             4
8358         0         0         1            0             1

[8359 rows x 5 columns]

In [287]:
data2.shape

(16719, 11)

In [288]:
data2.head()

,Name,Platform,Year_of_Release,Genre,Publisher,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,74.0,17.0,7.9,22.0,Traveller's Tales,E10+
1,LEGO Indiana Jones: The Original Adventures,Wii,NaN,Action,LucasArts,78.0,22.0,6.6,28.0,Traveller's Tales,E10+
2,LEGO Batman: The Videogame,PSP,NaN,Action,Warner Bros. Interactive Entertainment,73.0,5.0,7.4,10.0,Traveller's Tales,E10+
3,Combat,2600,NaN,Action,Atari,NaN,NaN,NaN,NaN,NaN,NaN
4,LEGO Harry Potter: Years 5-7,Wii,NaN,Action,Warner Bros. Interactive Entertainment,76.0,8.0,7.8,13.0,Traveller's Tales,E10+

In [289]:
data['Platform'] .unique().tolist()

['Wii',
 'PSP',
 '2600',
 'X360',
 'PS3',
 'GBA',
 'DS',
 '3DS',
 'PC',
 'GC',
 'GB',
 'PS2',
 'N64',
 'PSV',
 'XB',
 'NES',
 'GEN',
 'SNES',
 'GG',
 'NG',
 'SCD',
 'PS',
 'SAT',
 '3DO',
 'TG16',
 'PCFX',
 'DC',
 'WS',
 'WiiU',
 'PS4',
 'XOne']

In [290]:
data['Platform']

0        Wii
1        Wii
2        PSP
3       2600
4        Wii
        ...
8355     PSV
8356     PS4
8357      PC
8358      PC
8359      DS
Name: Platform, Length: 16719, dtype: object

In [291]:
data['platform_value'] = data['Platform'].factorize()[0]
data['platform_value']

0        0
1        0
2        1
3        2
4        0
        ..
8355    13
8356    29
8357     8
8358     8
8359     6
Name: platform_value, Length: 16719, dtype: int64

In [292]:
np.mean(data['Year_of_Release'])

2006.4873556231003

In [293]:
data['Year_of_Release']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
8355    2016.0
8356    2016.0
8357    2016.0
8358    2016.0
8359    2020.0
Name: Year_of_Release, Length: 16719, dtype: float64

In [294]:
age_avg = data['Year_of_Release'].mean()
age_std = data['Year_of_Release'].std()
data['Year_of_Release'].fillna(np.random.randint(age_avg - age_std, age_avg + age_std), inplace=True)
data['year_value'] = data['Year_of_Release']-1980
data['year_value']

0       25.0
1       25.0
2       25.0
3       25.0
4       25.0
        ...
8355    36.0
8356    36.0
8357    36.0
8358    36.0
8359    40.0
Name: year_value, Length: 16719, dtype: float64

In [295]:
data['genre_value'] = data['Genre'].factorize()[0]
data['genre_value']

0        0
1        0
2        0
3        0
4        0
        ..
8355    11
8356    11
8357    11
8358    11
8359     9
Name: genre_value, Length: 16719, dtype: int64

In [296]:
data['publisher_value'] = data['Publisher'].factorize()[0]
data['publisher_value']

0         0
1         1
2         0
3         2
4         0
       ...
8355    301
8356    301
8357    498
8358    498
8359    305
Name: publisher_value, Length: 16719, dtype: int64

In [297]:
data['Developer']

0       Traveller's Tales
1       Traveller's Tales
2       Traveller's Tales
3                     NaN
4       Traveller's Tales
              ...
8355                  NaN
8356                  NaN
8357             KING Art
8358                  NaN
8359              Ubisoft
Name: Developer, Length: 16719, dtype: object

In [298]:
data['developer_value'] = data['Developer'].factorize()[0]
data['developer_value']

0         0
1         0
2         0
3        -1
4         0
       ...
8355     -1
8356     -1
8357    806
8358     -1
8359    884
Name: developer_value, Length: 16719, dtype: int64

In [299]:
data['rating_value'] = data['Rating'].factorize()[0]
data['rating_value']

0       0
1       0
2       0
3      -1
4       0
       ..
8355   -1
8356   -1
8357   -1
8358   -1
8359    2
Name: rating_value, Length: 16719, dtype: int64

In [300]:
data['critic_score_value'] = data['Critic_Score'].factorize()[0]
data['critic_score_value']

0        0
1        1
2        2
3       -1
4        3
        ..
8355    -1
8356    -1
8357    10
8358    -1
8359    -1
Name: critic_score_value, Length: 16719, dtype: int64

In [301]:
age_avg = data['Critic_Count'].mean()
age_std = data['Critic_Count'].std()
data['Critic_Count'].fillna(np.random.randint(age_avg - age_std, age_avg + age_std), inplace=True)
data['critic_count_value'] = data['Critic_Count']
data['critic_count_value']

0       17.0
1       22.0
2        5.0
3       40.0
4        8.0
        ...
8355    40.0
8356    40.0
8357    15.0
8358    40.0
8359    40.0
Name: critic_count_value, Length: 16719, dtype: float64

In [302]:
data['user_score_value'] = data['User_Score'].factorize()[0]
data['user_score_value']

0        0
1        1
2        2
3       -1
4        3
        ..
8355    -1
8356    -1
8357    37
8358    -1
8359     8
Name: user_score_value, Length: 16719, dtype: int64

In [303]:
age_avg = data['User_Count'].mean()
age_std = data['User_Count'].std()
data['User_Count'].fillna(np.random.randint(age_avg - age_std, age_avg + age_std), inplace=True)
data['user_count_value'] = data['User_Count']+40
data['user_count_value']

0        62.0
1        68.0
2        50.0
3       757.0
4        53.0
        ...
8355    757.0
8356    757.0
8357    111.0
8358    757.0
8359    757.0
Name: user_count_value, Length: 16719, dtype: float64

In [304]:
data['name_value'] = data['Name'].factorize()[0]
data['name_value']

0           0
1           1
2           0
3           2
4           3
        ...
8355    11558
8356    11558
8357    11559
8358    11560
8359    11561
Name: name_value, Length: 16719, dtype: int64

In [305]:
data.shape

(16719, 22)

In [306]:
data_columns = ['platform_value','year_value','genre_value','publisher_value',
                'developer_value','rating_value','critic_score_value','critic_count_value',
                'user_score_value','user_count_value','name_value']
# number of data 11

In [307]:
data3 = data[data_columns]
data3

,platform_value,year_value,genre_value,publisher_value,developer_value,rating_value,critic_score_value,critic_count_value,user_score_value,user_count_value,name_value
0,0,25.0,0,0,0,0,0,17.0,0,62.0,0
1,0,25.0,0,1,0,0,1,22.0,1,68.0,1
2,1,25.0,0,0,0,0,2,5.0,2,50.0,0
3,2,25.0,0,2,-1,-1,-1,40.0,-1,757.0,2
4,0,25.0,0,0,0,0,3,8.0,3,53.0,3
...,...,...,...,...,...,...,...,...,...,...,...
8355,13,36.0,11,301,-1,-1,-1,40.0,-1,757.0,11558
8356,29,36.0,11,301,-1,-1,-1,40.0,-1,757.0,11558
8357,8,36.0,11,498,806,-1,10,15.0,37,111.0,11559
8358,8,36.0,11,498,-1,-1,-1,40.0,-1,757.0,11560
8359,6,40.0,9,305,884,2,-1,40.0,8,757.0,11561

In [316]:
len(train)

8359

In [317]:
len(data3)

16719

In [308]:
train3 = data3[:len(train)]
test3 = data3[len(train):]

In [309]:
target3 = target

In [318]:
len(target)

8359

In [310]:
#y_train0 = train['Survived']
#X_train0 = train.drop('Survived', axis = 1)
#X_test0 = test.drop('Survived', axis = 1)

#train3
#test3
#target3

In [314]:
X = np.array(train3)
y = np.array(target3['Global_Sales'])

In [315]:
X

array([[ 0.000e+00,  2.500e+01,  0.000e+00, ...,  0.000e+00,  6.200e+01,
         0.000e+00],
       [ 0.000e+00,  2.500e+01,  0.000e+00, ...,  1.000e+00,  6.800e+01,
         1.000e+00],
       [ 1.000e+00,  2.500e+01,  0.000e+00, ...,  2.000e+00,  5.000e+01,
         0.000e+00],
       ...,
       [ 1.300e+01,  3.700e+01,  0.000e+00, ..., -1.000e+00,  7.570e+02,
         6.229e+03],
       [ 2.900e+01,  3.700e+01,  7.000e+00, ..., -1.000e+00,  7.570e+02,
         6.230e+03],
       [ 1.300e+01,  3.700e+01,  7.000e+00, ..., -1.000e+00,  7.570e+02,
         6.230e+03]])

In [312]:
from catboost import CatBoostClassifier
clf = CatBoostClassifier()

In [313]:
from sklearn.model_selection import ShuffleSplit
import matplotlib.pyplot as plt
    
ss = ShuffleSplit(n_splits = 10,
                  train_size = 0.6,
                  test_size = 0.4,
                  random_state = 0)

for train_index, test_index in ss.split(X):

    X_train, X_test = X[train_index], X[test_index]
    Y_train, Y_test = y[train_index], y[test_index]

    clf.fit(X_train, Y_train)

KeyError: "None of [Int64Index([ 727, 6219, 2147, 6206, 5291, 1763, 3363, 5635, 2998, 8345,\n            ...\n            2599,  705, 3468, 6744, 5874, 4373, 7891, 4859, 3264, 2732],\n           dtype='int64', length=5015)] are in the [columns]"

In [ ]:
y_pred = clf.predict(np.array(test3)
y_pred = y_pred.astype(np.int)

In [ ]:
sub = sample_submission
sub[delete_columns] = list(map(int, y_pred))
sub.to_csv("submission.csv", index=False)

In [ ]:
sub